
.input {
    height: 3rem;
    border-radius: 10px;
    
    font-family: "Arial";
    font-size: 15px;
    text-transform: uppercase;
   
  }
  
 .button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s;
    font-family: "Arial";
    font-size: 15px;
    text-transform: uppercase;
  }
  
  .button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: black;
  }
  
  .button-container {
    text-align: center;
    margin-bottom: 1rem;
  }
  